*{
	margin:0;
	padding:0;
}

#container{
	margin:0;
	padding:0;
	background-color:black;
}

#header{
	width:980px;
	height:200px;
	margin:0 auto;
}
#cover {
	height:auto;
	width:980px;
	margin:0 auto;

}

#cover p {
	color:white;
	font-size:17px;
}

#cover h2 {
	color:green;

}


#cover h3 {
	color:white;

}

#footer{
	position:relative;
	bottom:0;
}

#logo img{
	height:150px;
	width:150px;
}

#logo{
	float:left;
}

/*menu*/

#menu {
	margin:40px;
	float:left;
}

#menu ul {
	font:14px Ariel;
	display:inline-table;
	position:relative;
}
#menu li{
	float:left;
	list-style:none;
	width:140px;
	text-align:center;
}

#menu li a {
	text-decoration:none;
	display:block;
	color:#fff;
	background:#575757;
	padding:10px;
	border-bottom: 2px solid #626262;
}

#menu li a:hover{
	color:#575757;
	background:#c0c0c0;
}

#menu ul ul {
	display:none;
	position:absolute;
	top:100%;
}

#menu ul ul li{
	float:none;
	position:relative
}

#menu ul ul ul {
	position: absolute;
	top:0;
	left:100%;
}
#menu ul li:hover>ul{
	display:block;
}


/*bottom menu*/


#menubottom {
	margin-left:150px;
	
}

#menubottom ul {
	font:14px Ariel;
	display:inline-table;
	position:relative;
}
#menubottom li{
	float:left;
	list-style:none;
	width:140px;
	text-align:center;
}

#menubottom li a {
	text-decoration:none;
	display:block;
	color:#fff;
	background:#575757;
	padding:10px;
	border-bottom: 2px solid #626262;
}

#menubottom li a:hover{
	color:#575757;
	background:#c0c0c0;
}

#menubottom ul ul {
	display:none;
	position:absolute;
	bottom:100%;
}

#menubottom ul ul li{
	float:none;
	position:relative
}

#menubottom ul ul ul {
	position: absolute;
	bottom:0;
	left:100%;
}
#menubottom ul li:hover>ul{
	display:block;
}

/*buttons*/

/*facebook button*/

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	float:right;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*twitter button*/

.myButton1 {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	float:right;
}
.myButton1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myButton1:active {
	position:relative;
	top:1px;
}